/* ===============================
Custom CSS
By: Levi Villarreal
For: 2016 TSA Webmaster Competition
Completed: IN PROGRESS
Coded w/ love <3
=============================== */


/* ===============================
    General
=============================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}




/* ===============================
    Global
=============================== */

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    color: #3f7ff8;
    transition: all 1s;  
    text-decoration: none !important;
    background: none !important;
}

a:hover {
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;    
    color: #000000;
}

h2 > a {
    position: relative;
    color: #000;
    text-decoration: none;
}

h2 > a:hover {
    color: #000;
}

h2 > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #959595;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

h2 > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.underline1 {
    font-size: 30px !important;
    display: block;
    text-decoration: none;
    border-bottom: 3px solid #65c4ff;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.underline {
    text-decoration: none;
    border-bottom: 3px solid #65c4ff;
}


/* ===============================
    History
=============================== */
#box {
    width:100px;
    height:100px;
    position: fixed;
    display: block;
    z-index: 1 !important;
}

#box > img {
    margin:10px;
}

svg {
    position: absolute;
    top: 0;
    visibility: hidden;
}

.top {
    height:500px;
    background: green;
    position: display: block;
}
.date {
    position: relative;
    top: 8%;
    text-align: center;
    background: grey;
}

#first-date {
    top: 8%;
}

#second-date {
    top: 25%;
}

#third-date {
    top: 42%;
}

#fourth-date {
    top: 60%;
}
#fifth-date {
    top: 75%;
}

.history footer {
    position: relative;
    top: 85%;
    z-index: 99999999999999999999999999999999999999999;
}

/* ===============================
    Guide
=============================== */

h1.guide-title {
    color: #000;
    font-size: 60px;
    text-align: center;
    margin: 100px 0 0 0;
}

.drone-button {
    cursor: pointer;
    position: relative;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    height: 50px;
    line-height: 50px;
    max-width: 40%;
    font-size: 25px;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    margin: 40px auto;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    padding: 8px 0;
    background: #000;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.drone-button span {
    display: inline-block;
    width: 100%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.drone-button:before {
    position: absolute;
    width: 100%;
    line-height: 50px;
    font-size: 120%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    left: -100%;
    top: 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.drone-button:hover span {
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
}

.drone-button:hover:before {
    left: 0;
}

.more-button {
    background: #33a7ef;
    border: 5px solid #2672a2;
}

.left-drone-option .more-button:before {
    font-family: 'icomoon';
    content: "\e00d";
}

.right-drone-option .more-button:before{
    font-family: 'icomoon';
    content: "\e003"
}

.more-button:hover {
    background: #2672a2;
}

.shop-button {
    background: #d43a3a;
    border: 5px solid #892525;
}

.shop-button:before {
    font-family: 'icomoon';
    content: "\e007";
}

.shop-button:hover {
    background: #892525;
}

/*
.icon-cart:before {
    font-family: 'icomoon';
    content: "\e007";
}

.icon-remove:before {
    font-family: 'icomoon';
    content: "\e003";
}

.icon-cog:before {
    font-family: 'icomoon';
    content: "\e00d";
}

.btn-5b:hover span {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
}

.btn-5b:before {
    left: -100%;
    top: 0;
}

.btn-5b:hover:before {
    left: 0;
}

.btn {
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-5 {
    background: #823aa0 !important;
    height: 70px;
    min-width: 260px;
    font-size: 16px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.btn-5:active {
    background: #9053a9;
    top: 2px;
}

.btn-5 span {
    display: inline-block;
    width: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.btn-5:before {
    position: absolute;
    width: 100%;
    line-height: 2.5;
    font-size: 180%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
*/


body#guide,
.col-sm-5,
.guide-overlay {
    height: 100%;
}

.right-drone-option .drone-hide {
    float: right;
}

.drone-buttons {
    display: block;
    position: relative;
    z-index: 999999999999999999 !important;
}

#hidden-block {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(255, 255, 255);
    display: block;
}

.left-drone-option #hidden-block {
    right: 18%;
    -webkit-transform: skewX(-13deg);
    -moz-transform: skewX(-13deg);
    -o-transform: skewX(-13deg);
    -ms-transform: skewX(-13deg);
    transform: skewX(-13deg);
}

.right-drone-option #hidden-block {
    left: 18%;
    -webkit-transform: skewX(13deg);
    -moz-transform: skewX(13deg);
    -o-transform: skewX(13deg);
    -ms-transform: skewX(13deg);
    transform: skewX(13deg);
}

.drone-option {
    height: 650px;
}

#drone-option-one.drone-option {
    background: url('../img/drone-home.jpg');
    background-size: cover;
}

#drone-option-two.drone-option {
    background: url('../img/global.jpg');
    background-size: cover;
}

#drone-option-three.drone-option {
    background: url('../img/drone1.jpg');
    background-size: cover;
}

#drone-option-four.drone-option {
    background: url('../img/undertakings4.jpg');
    background-size: cover;
}

.drone-reveal {
    background: rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
    padding: 2% 10%;
    overflow: hidden;
}

.drone-reveal h1 {
    font-size: 60px;
    text-align: center;
}

.drone-reveal h3 {
    font-size: 40px;
    padding: 15px 0;
}

.drone-reveal p {
    color: #fff;
    font-size: 20px;
    margin-left: 25px;
    padding: 5px 0;
    line-height: 1.5;
}

.side-arrow {
    height: 100%;
    width: 100px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-size: 50px;
    padding: 0px 20px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    cursor: pointer;
}

.left-drone-option .side-arrow {
    left: 0px;
}

.right-drone-option .side-arrow {
    right: 0px;
}

.side-arrow:hover {
    background: #fff;
    color: #000;
    width: 120px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
}




/* ===============================
    Footer
=============================== */

footer {
    z-index: 99999;
}

.footer-underline {
    text-decoration: none;
    border-bottom: 3px solid #ffffff;
}

footer h2 {
    font-size: 30px;
    width: 100% !important;
    display: block;
    padding-bottom: 4px;
    text-transform: uppercase;
}

footer h2 a {
    color: #65c4ff;
}

.left-footer a {
    color: #ffffff;
}

.left-footer a:hover {
    color: #000000;
}

.left-footer, .right-footer {
    margin-top: 10px;
    display:inline-block;
    padding: 70px !important;
    height: 100%;
}

.footer-content {
    padding-top: 30px !important;
}

footer h3 {
    font-size: 22px;
}

footer ul {
    padding-top: 15px !important;
    padding-left: 20px;
    text-align: left;
}

footer ul li {
    margin: 10px 0;
}

.left-footer {
    background: #65c4ff;
    padding: 1000px;
}

.right-footer {
    background: #fff;
}

@media(max-width:768px) {
    .left-footer {
        width: 100%;
    }
}

.right-footer h3 {
    padding: 0 0 20px 0;
}


/* ===============================
Assets
=============================== */
/* Clearfix (includes support for older browsers) 
http://stackoverflow.com/questions/8554043/what-is-clearfix 
*/
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}